@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif";
  font-size: 18px;
  color: #fff;
}

body {
  background-color: #5a4839;
}
#root {
  overflow: hidden;
}

.overlay {
  display: absolute;
}
.main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
}
@media (hover: hover) {
}
