@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;200;300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Serif";
  font-size: 18px;
  color: #fff;
}

body {
  background-color: #5a4839;
}
#root {
  overflow: hidden;
}

.overlay {
  display: absolute;
}
.main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  /* overflow: hidden; */

}
@media (hover: hover) {
  #home_linkBox h1:hover {
    color: saddlebrown;
    cursor: pointer;
  }
  #social_links img:hover {
    filter: invert(28%) sepia(88%) saturate(518%) hue-rotate(343deg)
      brightness(93%) contrast(96%);
    cursor: pointer;
    transform: scale(1.2);
  }
  #header a:hover {
    opacity: 0.8;
    transition: all 0.1s;
    color: rgb(189, 167, 46);
  }
}
