#contactForm input, textarea {
    color: #262626;
    font-size: 0.9rem;
}

.form label{
    display: block;
    text-align: left;
}

.form textarea{
    height: 150px;
    resize: none;
}
.form input, .form textarea{
    width: 100%;
    background-color: rgba(245, 245, 245, 0.87);
    padding: 4px;
}


.form input:focus, .form textarea:focus{
    outline: none;

}

form button{
    text-transform: uppercase;
    background-color: #262626;
    border: none;
    padding: 3px 12px;
    font-size: 0.8rem;
    margin-top: 5px;
}

.error > div{
    color: tomato;
    background-color: rgba(38, 38, 38, 0.2);
    font-style: italic;
}