#header{
    display: flex;
    position: absolute;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-basis: 800px;
    padding-top: 3%;
    z-index: 20;
}
#header img{
    opacity: .9;
    width: 240px;
    transition: all 0.2s;
}
#header ul{
    display: flex;
    list-style: none;
}
#header li{
    font-size: 16px;
    padding:0 15px;
    padding-bottom: 14px;
}
#header a{
    font-weight: 200;
    text-decoration: none;
}

@media only screen and (max-width: 800px){
    #header{
        flex-direction: column;
    }
    #header img{
        padding-bottom: 10px;
    }
}

@media only screen and (max-width: 450px){
    #header ul{
        flex-wrap: wrap;
        justify-content: center;
    }
}