#home {
  position: relative;
}

#homeBG {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(41, 41, 41, 0.35) 0%,
    rgba(83, 83, 83, 0) 71%
  );
  z-index: -11;
  left: 0;
}

#juanpapic1 {
  display: block;
  position: absolute;
  padding-top: 2%;
  z-index: -10;
  opacity: 0.3;
  right: 0;
}
#juanpapic1 img {
  height: 90vh;
}

#home_main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

#youtube {
  margin-right: 10px;
  margin-left: 10px;
}

#home_linkBox {
  display: flex;
  flex-direction: column;
  /* padding-left: 10px; */
  text-align: left;
  max-width: 200px;
}
.whiteBG {
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.2s;
}

.whiteBG:before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  background-color: #ffffff50;
  height: 90%;
  width: 65%;
  z-index: -1;
  border-radius: 10px;
}

#contactSection {
  display: flex;
  position: relative;
  background-color: rgba(1, 22, 30, 0.3);
  justify-content: center;
  align-items: center;
}

#contactText {
  flex: 2 1 200px;
}
#contactText h2 {
  font-size: larger;
  font-weight: 300;
}
#contactText p {
  font-size: smaller;
  font-weight: 200;
}

#contactText p b {
  font-weight: bolder;
}
#contactText a {
  font-style: italic;
  font-weight: 100;
}

#contactComponent {
  padding: 15px;
  padding-right: 30px;
  flex: 1;
}

@media only screen and (max-width: 1260px) {
  #contactText {
    flex: 1 1;
  }
  #contactComponent {
    flex: 1 1;
  }
}

@media only screen and (max-width: 1050px) {
  #home_linkBox {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 849px) {
  #home_main{
    height: auto;
    padding: 150px 0 150px 0;
  }
}

@media only screen and (max-width: 780px) {
  #home_main{
    padding-bottom: 100px;
  }
}

@media only screen and (max-width: 666px) {

  #contactSection {
    flex-direction: column;
  }
  #contactText {
    padding-top: 20px;
  }
  #contactComponent {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
  #contactComponent {
    width: 95%;
  }
  #juanpapic1{
    right: auto;
  }
}
@media only screen and (max-width: 469px) {
  #home_main{
    height: auto;
  }
  #youtube {
    margin: 150px 10px 0 10px;
  }
}

@media only screen and (max-height: 666px) {
  #home_main {
    padding-top: 150px;
  }

  #home_linkBox {

    /* flex-direction: row; */
    /* gap: 15px; */
  }
  #social_links {
    flex: 1 0 25%;
  }
}

@media only screen and (max-height: 724px) {
  #home_main {
    height: auto;
  }
}

@media only screen and (max-height: 666px) {
  #home_linkBox {
    padding-bottom: 20px;
  }
  #home_linkBox {
    padding-top: 15px;
    /* max-width: 95%; */
  }
}

@media only screen and (max-height: 536px) {
  #home_main {
    flex-direction: column;
    align-items: center;
  }
  #home_linkBox {
    align-self: initial;
    padding-bottom: 20px;
  }
}
