#languageSelect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  background-color: #4b4540;
  position: relative;
}
#languageSelect > *{
  text-align: center;
}
.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#languageSelect button {
  border: none;
  color: #262626;
  background-color: #d8d6d6;
  padding: 5px 40px;
  margin: 15px 40px;
  position: relative;
  z-index: 10;
  transform: scale(1.4);
  opacity: 0;
  animation: fadeIn 1s 1s forwards;
}

#languageSelect video {
  opacity: 0.1;
  position: absolute;
  height: 100vh;
  opacity: 0;
  animation: fadeInVideo 7s forwards;
}

#languageSelect h1 {
  opacity: 0;
  font-weight: 300;
  font-size: larger;
  animation: fadeIn 1s forwards;
}

#languageSelect h3 {
  opacity: 0;
  font-weight: 200;
  opacity: 0;
  animation: fadeIn 1s 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInVideo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.2;
    }
  }

  @media only screen and (max-height: 490px){
    #languageSelect video {
      height: auto;
    }
  }