#music{
    padding-top: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    min-height: 90vh;
    background-color: #4B4540;
}

.musicBox{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    max-height: 300px;
    overflow:hidden;
    padding-top: 15px;
    position: relative;
}

.musicBox div:nth-child(1){
    flex: 1 0 50%;
    position: relative;
    overflow: hidden;
}

.musicimg, .loader{
    width: 100%;
    height: 100%;
}
.musicimg{
    opacity: 0;
    position: relative;
    z-index: 10;
    transition: opacity 2s, transform 0.2s;
}
.loader {
    position: relative;
    top: -100%;
    transform: scale(1.2);
    opacity: 0.3;
    z-index: 1;
}

.loaded {
    opacity: 1;
}
.musicBox div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 50%;
    background-color: #262626;

}
.musicBox div:nth-child(2) > *{
    color: #BFBFBF;
}

.musicBox div:nth-child(2) p{
    font-size: smaller;
}

.musicBox div:nth-child(2) a img{
    max-width: 100px;
}

.musiclinks{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 150px;
}

.musiclinks > *{
    flex: 1 50%;
    display: flex;
    padding: 4px;
}

.musiclinks div:nth-child(1){
    align-items: center;
    justify-content: flex-end;

}
.musiclinks div:nth-child(1) a {
    height: 70%;
    transition: all 0.2s;
}
.musiclinks div:nth-child(1) img {
    height: 100%;
}
.musiclinks div:nth-child(2){
    align-items: flex-start;
}

.musiclinks div:nth-child(2) a{
    height: 30%;
    transition: all 0.2s;

}

@media only screen and (max-width: 800px){
    #music{
        padding-top: 170px;
    }
}
@media only screen and (max-width: 600px){
    .musicBox{
        flex-direction: column;
        max-height: none;
    }
    .musicBox div:nth-child(1){

    }
    .musicBox div:nth-child(2){
        flex: initial;
        padding-top: 10px;

    }
    .loader{
        display: none;
    }
    .musiclinks div:nth-child(2){
        flex: 1 0 50%;
    }
    .musiclinks{

    }
}